$themes: (
  "light": (
    "background": #fff,
    "textColor": #2c3e50,
  ),
  "dark": (
    "background": #000,
    "textColor": #fff,
  ),
);
:root{
  --time : 0.5s;
  --asideBackgroundColor: #faebd7
}

html {
  height: 100%;

}
$curTheme: light;
@mixin useTheme() {
  @each $key, $value in $themes {
    $curTheme: $key !global;
    html[data-theme="#{$key}"] & {
      @content;
    }
  }
}
@function getVar($key) {
  $themeMap: map-get($themes, $curTheme);
  @return map-get($themeMap, $key);
}
body {
  height: 100%;
  margin: 0px;
  opacity:0.5;
  @include useTheme {
    background-color: getVar("background");
    color: getVar("textColor");
  }
}
